@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
/* presets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ********************* */
/* navbar styles */
/* ************************ */
nav {
  background-color: #292929;
  height: 67px;
  display: grid;
  justify-content: center;
}
.nav--item {
  max-width: 1306px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}
nav h1 {
  color: #ffffff;
  width: 108px;
  height: 33.58px;
  border: 1px solid #ffffff;
  text-align: center;
  padding: 5px 0;
  font-size: 1rem;
  font-weight: 300;
}
@media screen and (min-width: 576px) {
  nav {
    height: 140px;
  }
  .nav--item {
    padding: 40px 0;
  }
  nav h1 {
    height: 60px;
    width: 193px;
    font-size: 2rem;
  }
}
@media screen and (min-width: 1100px) {
  nav {
    justify-content: unset;
  }
}
/* **************** */
/* hero section */
/* ********************* */
.hero {
  color: #ffff;
  background-image: url('https://th.bing.com/th/id/OIP.SRRrKcZzi56e_iyz0lruWQHaE8?pid=ImgDet&rs=1');
  background-repeat: no-repeat;
  background-size: cover;
}
.hero--item {
  height: 275px;
  display: grid;
  place-items: center;
  max-width: 1306px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}
.hero h2 {
  font-family: 'DM sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.05rem;
  width: 273px;
  height: 72px;
}

@media screen and (min-width: 819px) {
  .hero--item {
    height: 550px;
  }
  .hero--item h2 {
    width: 490px;
    height: 282px;
    font-size: 100px;
    line-height: 94px;
  }
}
@media screen and (min-width: 1100px) {
  .hero--item {
    place-items: unset;
    align-items: center;
  }
  .hero--item h2 {
    text-align: left;
  }
}

/* ********************** */
/* form section */
/* *********************** */

form {
  max-width: 1306px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 2rem;
}
label {
  display: block;
  font-family: 'DM sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 21px;
  color: #000000;
}
input {
  width: 100%;
  height: 34px;
}

@media screen and (min-width: 819px) {
  label {
    font-size: 2rem;
    line-height: 31px;
  }
}

@media screen and (min-width: 1305px) {
  form {
    padding: 20px 0;
  }
}

/* ********************** */
/* movie container styles */
/* ****************** */
.movie--category--container {
  margin-left: 2rem;
}
.movie--category--container p {
  font-size: 1.2rem;
  font-family: 'DM sans', sans-serif;
}
.movie--card {
  height: 250px;
  width: 250px;
  background-color: #000000;
  color: #ffffff;

  display: grid;
  place-items: center;
  border-radius: 12px;
  padding: 0.5rem;
}

@media screen and (min-width: 819px) {
  .movie--category--container {
    margin-left: 6.5rem;
  }
  .movie--category--container p {
    font-size: 2rem;
  }
  .movie--card {
    height: 300px;
    width: 270px;
  }
}
